* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: grid;
  place-items: center;
  padding: 40px;
  background: url('./images/weather-background.jpg');
  background-position: center;
  background-position-y: 900px
}

p {
  margin-top: 20px;
}

span {
  color: rgb(70, 70, 70);
}

.category {
  font-size: large;
  font-weight: 700;
  color: rgb(50, 50, 171);
}

input {
  margin-top: 20px;
  padding-left: 5px;
}

.condition {
  display: grid;
  width: 100px;
  place-items: center;
  grid-template-columns: 1fr 2fr;
}

.condition-img {
  height: 30px;
  width: 30px;
}

.condition-text {
  margin: 0;
}