<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <h1 class="title"><%= htmlWebpackPlugin.options.header %></h1>

  <input type="search" name="search" id="search" placeholder="search...">
  <div class="container">

    <p class="location"></p>
    <p class="time"></p>
    <h1 class="temp"></h1>
    <div class="condition">
      <img src="" alt="" class="condition-img">
      <p class="condition-text"></p>
    </div>
    <p class="humid category">Humidity: <span class="humid-data"></span></p>
    <p class="wind category">Wind-Speed: <span class="wind-data"></span></p>
    <p class="precip category">Precipitation: <span class="precip-data"></span></p>
    <p class="uv category">UV Index: <span class="uv-data"></span></p>
    <p class="vis category">Visibility: <span class="vis-data"></span></p>
  </div>
</body>

</html>