@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  place-items: center;
  padding: 40px;
  background: url('./images/weather-background.jpg');
  background-repeat: repeat;
}

p {
  margin-top: 20px;
}

span {
  color: rgb(70, 70, 70);
}

.title {
  font-family: 'Oleo SCript Swash Caps', cursive; 
  font-size: 4rem;
  text-align: center;
}

.place {
  font-weight: bold;
  font-family: ''
}

.category {
  font-size: large;
  font-weight: 700;
  color: rgb(50, 50, 171);
}

input {
  height: 2rem;
  width: 300px;
  margin-top: 40px;
  padding-left: 5px;
}

.condition {
  display: grid;
  width: 300px;
  margin-top: 20px;
  place-items: center;
  grid-template-columns: 1fr 2fr;
}

.condition-img {
  height: 70px;
  width: fit-content;
  max-width: 100px;
}

.condition-text {
  margin: 0;
  font-size: 1.5rem
}

.time {
  margin-top: 40px;
  font-size: 2rem;
}

.temp {
  margin-top: 40px;
  font-size: 4rem;
}

.forecast {
  margin-top: 40px;
  text-align: center;
}

.day {
  height: 100px;
  width: 80vw;
  border: 2px solid black;
  border-top: none;
  background: linear-gradient(90deg, #9b65b6, #9198e5);
}

.one {
  margin-top: 40px;
  border-top: 2px solid black;
}

.forecast-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  place-items: center;
}